[submodule "lib/LDPC-codes"]
	path = lib/LDPC-codes
	url = https://github.com/radfordneal/LDPC-codes
[submodule "lib/libfec"]
	path = lib/libfec
	url = https://github.com/quiet/libfec.git
	ignore = untracked
